body {
  padding: 20px;
}

.main__menu{
  border-bottom: 1px solid #e7e1e1;
  .display-container();
}

.menu__wrap-top{
  .row-flex();
  justify-content: space-between;
  align-items: center;
}

.menu__left{
  .col();
  .size(2.5);

}

.header {
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    margin-right: 32px;
    padding-right: 30px;
    border-right: 1px solid #e7e1e1;
}

.menu-icon {
  height: 20px;
  width: 25px;
  position: relative;
}

.menu-icon:hover {
  cursor: pointer;
}

.menu-icon:hover .menu-icon__bar {
  opacity: 0.6;
}

.menu-icon__bar {
  position: absolute;
  top: 50%;
  height: 2px;
  width: 100%;
  background-color: #3e425a;
  display: block;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.menu-icon__bar::before,
.menu-icon__bar::after {
  height: 2px;
  width: 100%;
  content: "";
  background-color: #3e425a;
  display: block;
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.menu-icon__bar::before {
  top: -10px;
}

.menu-icon__bar::after {
  bottom: -10px;
}

.menu-icon--open .menu-icon {
  position: relative;
}
.menu-icon--open .menu-icon__bar {
  background: transparent;
}

.menu-icon--open .menu-icon__bar::before,
.menu-icon--open .menu-icon__bar::after {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu-icon--open .menu-icon__bar::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.menu-icon--open .menu-icon__bar::before {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.nav {
  padding: 20px;
  position: absolute;
  top: -1400px;
  background-color: #222;
  -webkit-transition: top 0.6s ease;
  transition: top 0.6s ease;
}

.nav--active {
  position: absolute;
  top: 80px;
}

.nav__list {
  padding-left: 0;
  list-style: none;
}

.nav__item {
  font-family: "Questrial", sans-serif;
  margin-bottom: 10px;
  text-align: left;
}

.nav__link {
  position: relative;
  color: #fff;
  text-decoration: none;
}

.nav__link--plus::after,
.nav__link--minus::after {
  color: #fff;
  font-family: FontAwesome;
  font-size: 10px;
  position: absolute;
  top: 50%;
  right: -20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nav__link--plus::after {
  content: "";
}

.nav__link--minus {
  color: #C14500;
}

.nav__link--minus::after {
  content: "";
  color: #C14500;
}

.nav__link:hover {
  opacity: 0.6;
}

.nav__sub-list {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  displaY: none;
  list-style: none;
  padding-left: 10px;
}

.nav__sub-list--active {
  display: block;
}

.nav__sub-item .nav__link {
  color: rgba(255, 255, 255, 0.6);
}

.nav__sub-item:not(:last-child) {
  padding-bottom: 10px;
}



.menu__left-logo{
  .dib-mid();
}

.menu__center {
  .bar-item();
  .col();
  .size(6.5);

}

.menu__center-link{
  .bar();
  .button();
  color: #343E5C;
  .montserrat(600);
  .rem(14px);
  .round-small();
  .hover-cyan();
  .hover-text-light-gray();
}

.menu__right {
  .bar-item();
  .col();
  .size(3);

}

.menu__right-link,
.menu__right-btn{
  .bar();
  .button();
  .dib-mid();
}
.menu__right-link{
  .round-small();
  .hover-text-light-gray();

  .badge {
    .badge();
    .rem(11px);
    padding-top: 4px;
    padding-bottom: 3px;
    margin-left: 5px;
    background-color: #E3E8F0;
    color: #343E5C;
    text-transform: uppercase;
  }
}

.menu__right-text {
  color: @cyan;
  .rem(11px);
  .montserrat();
  text-align: center;
  text-transform: uppercase;
  margin: 0 5px;
  .round-small();
  .hover-cyan();
  .hover-text-light-gray();
}

.menu__right-img{
  .dib-mid();
}

.menu__bottom {
  .padding-16();
  .white();
}

.menu__wrap-bottom{
  .row-flex();
  justify-content: space-between;
}
.menu__bottom-left {
  .col();
  .size(8);
}

.menu__bottom-link {
  .bar-item();
  .button();
  .rem(11px);
  .montserrat(700);
  .wide(1px);
  color: #B9BED1;
  text-transform: uppercase;


  .hover-text-cyan();
  &:hover {
    .hover-none();

  }
  &.active {
    .hover-none();
    .text-cyan();
  }
}

.menu__bottom-right {
  .col();
  .size(4);
  text-align: left;
}

.menu__bottom-contacts {
   .bar-item();
   .button();
   .dib-mid();
  .rem(11px);
  .montserrat(700);
  .wide(1px);
  color: #B9BED1;
  text-transform: uppercase;
  .hover-none();
  .hover-text-cyan();
}

.contacts__link-img{
  .dib-mid();
  margin-right: 5px;
}

.contacts__link-text {
  .dib-mid();
}





