// out: null

.rem(@px){
  font-size: @px/16px + 0rem;
}

.line-height(@px){
  line-height: @px/16px;
}

.dib-mid(){
    display: inline-block;
    vertical-align: middle;
}

.dib-top(){
    display: inline-block;
    vertical-align: top;
}
.rel() {
    position: relative;
}

.square(@s) {
    width: @s;
    height: @s;
}

.text-bold() {
    font-weight: bold;
}

.display-centerer-X(){
    position: absolute;
    left: 50%;
    transform: translateX(50%);
}

.display-centerer-Y(){
    position: absolute;
    top: 50%;
    transform: translateY(50%);
}

.montserrat(){
  font-family: "Montserrat";
}

.crimson() {
  font-family: "Crimson Text";
}